body{
	width: 1583px;
	margin: 0 auto;
}
.backgroundBox{
width: 100%;
height: 950px;
background: url(../img/qwer.png);
background-repeat: no-repeat;
/*background-size: cover;*/

}
header{
	display: flex;
	justify-content:flex-start;
	width: 100%;
	height: 128px;
}
header p{
	display: flex;
	align-items: center;
	 margin: 0;
    font-size: 60px;
    font-family: Comic Sans MS;
    color: black;
}
span{

	color: #EBE7E7;
	font-size: 70px;
	text-transform: uppercase;

}
sup{
	font-style: strong;
	font-family: Comic Sans MS Arial;
	margin-top: 20px;
	font-size: 20px;
}
.navImg{
	display: flex;
	align-items: center;
	 background-image: url(../img/asd.png);
	 background-repeat: no-repeat;
	background-size: cover;
    margin-left: 10%;
   	margin-top: 10px;
    width:  120px;
    height: 120px;
}
.navImg:hover{
	display: flex;
	align-items: center;
	 margin: 0;
	background-image: url(../img/asd2.png);
	background-repeat: no-repeat;
	background-size: cover;
    margin-left: 10%;
    margin-top: 10px;
    width:  120px;
    height: 120px;
}
.navImg:active{
	display: flex;
	align-items: center;
	 margin: 0;
	background-image: url(../img/asd3.png);
	background-repeat: no-repeat;
	background-size: cover;
    margin-left: 10%;
    margin-top: 10px;
    width:  120px;
    height: 120px;
}
.welocomeRepresent{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	height: 450px;
}
.welocomeRepresent .represend{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
width: 50%;

}

.welocomeRepresent h1{
	font-family: arial;
	font-size: 50px;
	color:#EBE7E7;
	margin-left: 70px;
	text-align: center;
	font-weight:lighter;
}
.welocomeRepresent h3{
	font-family: gabriola;
	margin-left: 60px;
	font-size: 40px;
	margin-top: 5px;
	text-align: center;
	font-weight:lighter;
	color:#EBE7E7;
}
.iPhoneBox{
	margin: 0;
	position: relative;
	width: 600px;
	bottom: 200px;
	right: -900px;
}
.iPhoneBox>img{
	width: 600px;
	height: 800px;
}
.serviceBox{
	display: flex;
	justify-content: center;
	margin-top: 150px;
}
.text1{
	width: 50%;
	margin-left: 190px;
}
.text1 h1{
	font-family: verdana;
	font-size: 40px;
}
.text1 p{
	color: #A9A9A9;
	font-size: 22px;
	font-family: gabriola;
}
.text2{
	margin: 5%;
	margin-top: 200px;
	width: 50%;
}
.text2 p{
	color: #A9A9A9;
	font-size: 22px;
	font-family: gabriola;
}
.Galery{
	display: flex;
	justify-content: flex-end;
}
.galeryBox {
	display: flex;
	justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 1400px;
	height: 500px;
}

.galeryBox  .smallBox1{
	background-color: #f5989d;
	color: white;
	text-align: center;
	width: 350px;
	height: 250px;
}
.galeryBox  .smallBox2{
	background-color: #615f7d;
	color: white;
	text-align: center;
	width: 350px;
	height: 250px;
}
.galeryBox  .smallBox3{
	background: url(../tableGal/3.png);
	color: white;
	text-align: center;
	width: 350px;
	height: 250px;
}
.galeryBox  .smallBox4{
	background-color: #bd8cbf;
	color: white;
	text-align: center;
	width: 350px;
	height: 250px;
}
.galeryBox  .smallBox5{
	background-color: #82ca9c;
	color: white;
	text-align: center;
	width: 350px;
	height: 250px;
}
.galeryBox  .smallBox6{
	background: url(../tableGal/8.png);
	color: white;
	text-align: center;
	width: 350px;
	height: 250px;
}
.galeryBox .long{
	background: url(../tableGal/5.png);
	width: 700px;
	height: 250px;
	color: white;
	text-align: center;
}
.galeryBox  p{
	margin: 10px;
	padding-bottom: 70px;
}
.galeryBox  a{
	text-decoration: none;
	color: white;
}
#smallBox:hover{
	font-size: 19px; 
}